/* FONT DECLARATIONS */

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-thin {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-mono-extralight {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-mono-light {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-medium {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex-mono-thin-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex-mono-extralight-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex-mono-light-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex-mono-regular-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex-mono-medium-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex-mono-semibold-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex-mono-bold-italic {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

/* h3,
a {
    font-family: "Handlee", cursive;
} */

/* BASIC STRUCTURE */
.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

html {
    width: 100vmax;
}

body {
    width: 100vmax;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    /* background-image: url(images/paper-texture.jpg); */
    background-color: #FFFDFF;
    font-family: "Caveat";
}

header {
    width: 100vmax;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 5vmin 10vmax 10vmin;
    display: flex;
    justify-content: space-around;
}

/* HEADER FORMATTING */
#name {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#course-title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

/* TEXT FORMATTING */
li a {
    text-decoration: none;
    color: black;
    font-size: 20pt;
    line-height: 30pt;
}

li {
    list-style-type: none;
}

ul {
    text-indent: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
}

h2 {
    width: fit-content;
    font-size: 1.5rem;
}

#name h1 {
    font-size: 4rem;
    font-weight: 400;
}

#toggle {
    font-size: 16pt;
}

/* Typing animation */

.typing-text {
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    /* The cursor */
    width: 0;
    max-width: fit-content;
    animation:
        typing 3.5s steps(26) forwards,
        blink .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: green;
    }
}

/* Handwriting gif */
#gif img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vmax;
}